@import "../../styles/variables";
@import "../../styles/mixins.scss";

.table {
  background-color: $color-lightlavender;
  margin: 4vh 9vw;
  width: 82vw;
  height: 68.7vh;
  @include general;
  overflow: auto;
}

.table_row {
  display: grid;
  grid-template-columns: repeat(3, 27%) 19%;
  @include title;
}

.table_col {
  display: grid;
  align-items: center;
  border: 1.5px solid $color-darkgray;
  padding: 4%;
  color: $color-black;
}

@media (min-width: 600px) and (max-width: 1023px) {
  /* CSS-стили Tablet*/
  .table {
    font-size: 0.89rem;
  }
  .table_row {
    font-size: 1.03rem;
  }
}

@media screen and (max-width: 599px) {
  /* CSS-стили Smartphone*/
  .table {
    font-size: 0.79rem;
  }
  .table_row {
    font-size: 0.92rem;
  }
}
