@import "../../styles/variables";
@import "../../styles/mixins.scss";

.container {
  width: 100%;
  font-family: "Nunito", sans-serif;
  color: $color-darklavender;
}

h1,
h2 {
  margin: 1.2vh auto;
}

.title {
  font-size: 1.7rem;
}

.headline {
  font-size: 1.2rem;
}

.slogan {
  font-size: 1.4rem;
}
