@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.App {
  text-align: center;
  min-height: 100%;
}
.content {
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  gap: 3%;
  margin-top: 0.6rem;
  margin-left: 0.6rem;
  height: 4vh;
}

.nav-link {
  text-decoration: none;
  display: flex;
  @include link;
  color: $color-deeplavender;
}
