$color-lavender: rgb(156, 77, 247);
$color-darklavender: rgb(93, 20, 211);
$color-deeplavender: rgb(72, 20, 155);
$color-white: #ffffff;
$color-lightlavender: #bfa5e0;
$color-darkgray: #777776;
$color-beigegray: #f3f3df;
$color-graphite: #383a3d;
$color-darkgraphite: #2d2e30;
$color-black: #070c16;
