@import "../../styles/variables";
@import "../../styles/mixins.scss";

.container {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.card {
  width: 35vw;
  height: 75vh;
  border: 3px solid $color-darkgray;
  border-radius: 27px;
  background-color: $color-lightlavender;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card_word {
  @include card;
  color: $color-black;
}

.card_transcription {
  color: $color-darkgraphite;
}

.card_translation {
  margin-top: 8vh;
  color: $color-darklavender;
  @include translate;
}

.card_button {
  margin-top: 8vh;
  display: flex;
  justify-content: center;
}

.card_btn {
  @include button-lg;
  display: flex;
  justify-content: center;
  align-items: center;
}
