.header_menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  background: rgb(191, 63, 250);
  padding: 1em;
}

.header_link {
  text-decoration: none;
  color: white;
  padding: 5px;
  border: 2px solid white;
  border-radius: 7px;
}

/*Ссылки меню хедера после наведения курсора*/
.header_link:hover {
  background: rgb(93, 20, 211);
}
