@import "../../styles/variables";
@import "../../styles/mixins.scss";

/*Оболочка футера*/
.footer_menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 6vw;
  list-style: none;
  margin: auto;
  height: auto;
  padding: 1.5vh;
  background: $color-lavender;
  @include general;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

/*Ссылки меню футера*/
.footer_link {
  text-decoration: none;
  color: $color-white;
  padding: 4px;
  border: 2px solid $color-white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Ссылки меню футера после наведения курсора*/
.footer_link:hover {
  background: $color-darklavender;
  transform: scale(120%);
}

@media (min-width: 600px) and (max-width: 1023px) {
  /* CSS-стили Tablet*/
  /*Оболочка футера*/
  .footer_menu {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 599px) {
  /* CSS-стили Smartphone*/
  /*Оболочка футера*/
  .footer_menu {
    font-size: 0.8rem;
  }
  /*Ссылки меню футера*/
  .footer_link {
    padding: 3px;
  }
}
