/*Оболочка футера*/
.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*блок с элементами футера*/
.footer_ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 1vh;
  background: rgb(191, 63, 250);
}

/*Обертка для ссылок меню футера*/
.footer_li {
  display: block;
  padding: 1em;
}

/*Ссылки меню футера*/
.footer_link {
  text-decoration: none;
  color: white;
  padding: 5px;
  border: 2px solid white;
  border-radius: 7px;
}
/*Ссылки меню футера после наведения курсора*/
.footer_link:hover {
  background: rgb(93, 20, 211);
}
