@import "../../styles/variables";
@import "../../styles/mixins.scss";

/*Оболочка футера*/
.footer_menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 6vw;
  list-style: none;
  margin: auto;
  height: auto;
  padding: 1.5vh;
  background: $color-lavender;
  @include general;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

/*Ссылки меню футера*/
.footer_link {
  text-decoration: none;
  color: $color-white;
  padding: 4px;
  border: 2px solid $color-white;
  border-radius: 7px;
  max-width: 9vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Ссылки меню футера после наведения курсора*/
.footer_link:hover {
  background: $color-darklavender;
  transform: scale(120%);
}
